APP_ENV=development
API_TITLE=Default Prediction API
API_DESCRIPTION=API para predicción de riesgo de Default de clientes.
API_VERSION=1.0.0
MODEL_PATH=models/model.joblib
METADATA_PATH=models/metadata.json